<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Layout</title>
</head>
<body>
    <nav class="zone green">
<ul class="main-nav">
<li><a href="">About</a></li>
<li><a href="">Products</a></li>
<li><a href="">Our Team</a></li>
<li class="push"><a href="">Contacts</a></li>
</ul>
    </nav>
    <div class="container zone red">Cover!!!</div>
    <div class="zone blue grid-wrapper"></div>
    <div class="box zone"><img src="files.jpg"></div>
    <div class="box zone"><img src="monitor.jpg"></div>
    <div class="box zone"><img src="server.png"></div>
    <div class="box zone"><img src="data storage.jpg"></div>
    <div class="box zone"><img src="monitorcoding.png"></div>
    <div class="box zone"><img src="serversafe.png"></div>
    <div class="box zone"><img src="desktopanalytics.png"></div>
    <footer class="zone yellow">Footer</footer>
</body>
</html>