.container {
   display: grid;
   grid-template-rows: repeat(fr fr fr fr fr fr fr fr);
   grid-template-columns: repeat(fr fr fr fr fr);
}
.one {
    background-color: #b12020;
    grid-row: span 8;
    color: white;
    justify-content: center;
}
.two {
    background-color:gray;
    grid-row: span 3/4;
    grid-column: span 2/3;
    color: white;
}